<div class="container">
    <div class="card card-01">
        <h2>Clear Library Due</h2><br>
        <div>
            <h4 style="width: fit-content; float: left;">Clear Student Library Due</h4>
        </div>
    </div>
    <div class="card card-02">
        <div *ngIf="alert" class="alert alert-success alert-dismissible fade show" role="alert">
            <strong>Success!</strong> Library Due Created Successfully.
            <button (click)="closeAlert()" type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
        </div>

        <form [formGroup]="createLibdue" (ngSubmit)="CreateLibdue()">

            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="inputStdno">Full Name</label>
                    <input type="text" class="form-control" id="inputname" formControlName="full_name">
                </div>
                <div class="form-group col-md-6">
                    <label for="inputStdno">Student No. :</label>
                    <input type="text" class="form-control" id="inputStdno" formControlName="student_no">
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="inputRollno">Roll No. :</label>
                    <input type="number" class="form-control" id="inputRollno" formControlName="roll_no">
                </div>
                <div class="form-group col-md-6">
                    <label for="inputBranch">Branch :</label>
                    <select id="inputBranch" class="form-control" formControlName="branch">
                  <option selected>CSE</option>
                  <option>IT</option>
                  <option>ECE</option>
                  <option>EN</option>
                  <option>CE</option>
                  <option>ME</option>
                  <option>EI</option>
                </select>
                </div>
            </div>
            <br>
            <div class="form-row">


                <div class="form-group grp">
                    <button type="submit" class="btn btn-blue px-5 py-1">SUBMIT</button>
                </div>

            </div>

        </form>
    </div>
</div>