<div class="container">
    <div class="card card-01">
        <h2>Create Library Due</h2><br>
        <div>
            <h4 style="width: fit-content; float: left;">Create Student Library Due</h4>
        </div>
    </div>
    <div class="card card-02">
    
        <form>
            
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="inputStdno">Full Name</label>
                    <input type="text" class="form-control" id="inputname">
                </div>
                <div class="form-group col-md-6">
                    <label for="inputStdno">Student No. :</label>
                    <input type="text" class="form-control" id="inputStdno" formControlName="student_no">
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="inputRollno">Roll No. :</label>
                    <input type="number" class="form-control" id="inputRollno" formControlName="roll_no">
                </div>
                <div class="form-group col-md-6">
                    <label for="inputBranch">Branch :</label>
                    <select id="inputBranch" class="form-control" formControlName="branch">
                  <option selected>CSE</option>
                  <option>IT</option>
                  <option>ECE</option>
                  <option>EN</option>
                  <option>CE</option>
                  <option>ME</option>
                  <option>EI</option>
                </select>
            </div>
            </div>
            <div class="form-row">
                <div class=" col-md-6">
                    <label style="color: transparent;">submit</label>
                    <div class="form-group grp">
                        <button type="submit" class="btn btn-blue px-5 py-1">SUBMIT</button>
                    </div>
                </div>
            </div>
    
        </form>
    </div>
    </div>
    
    