body {
    background-image: url('src/assets/bg-01.svg');
    max-height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #7b8a9b !important;
}

.akg-logo {
    padding-left: 20px;
    padding-top: 20px;
}

h1 {
    font-weight: bolder;
    text-align: center;
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: right;
    border: 10px;
    ;
}

h4 {
    margin-bottom: 00px;
    margin-right: 20px;
}

.brl-logo {
    height: 7em;
    margin-right: 20px;
}

.row1 {
    height: 65vh;
}

.col1 {
    height: 100%;
}

.card-center {
    padding: 2em;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%)translateY(-35%);
    z-index: 100;
}

.cstmcard {
    border-radius: 30px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.19), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    color: #0275d8;
    text-align: center;
    padding: 2%;
    width: 35%;
}

.redbox {
    width: fit-content;
    margin-top: -14%;
    background-color: #d9534f;
    color: white;
    padding: 20px;
    align-self: center;
    border-radius: 30px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.19), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
}

h1 {
    font-weight: bold;
}

.btn {
    background-color: #0275d8;
    border-radius: 25px;
}

a {
    width: fit-content;
    align-self: center;
}

.btn:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.19), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

@media (max-width: 600px) {
    .cstmcard {
        width: 85%;
    }
    h1 {
        font-size: x-large;
    }
    h2 {
        font-size: x-large;
    }
}