<body>
    <div>
        <img src="assets/akg logo.png" height="130em" width="130em" class="akg-logo">
        <h1>New Semester Registration</h1>
    </div>
    <div class="container">
        <div class="row row1 mx-5">
            <div class="col-6 col1">
                <img src="assets/boy.svg" style="width: auto; height: 100%;">
            </div>
            <div class="col-6">

            </div>
        </div>
    </div>
    <div class="card card-center cstmcard">
        <div class="card redbox">
            <h1>Student Login</h1>
        </div>
        <br><br><br>

        <h2>You have no library due </h2>
        <h2>You can proceed</h2><br><br><br>
        <a routerLink="/form"><button type="button" class="btn btn-primary btn-lg" ><h2 class="px-4 py-1">Proceed</h2></button></a>
    </div>


    <div class="footer">
        <h4 style="margin-right:10%;">Powered by</h4>
        <img src="assets/brllogo.png" alt="brl-logo" class="brl-logo" style="margin-right:10%;">
    </div>
</body>









<router-outlet></router-outlet>