<body>
    <div>
        <img src="assets/akg logo.png" height="130em" width="130em" class="akg-logo">
        <h1>New Semester Registration</h1>
    </div>
    <div class="container">

        <div class="row">
            <div class="column side">
                <img src="assets/boy.svg" style="width: auto; height: 65vh;">
            </div>
            <div class="column middle"><br><br><br>
                <div class="card card1">

                    <div class="card redbox">
                        <h2 class="px-3">Student Login</h2>
                    </div>
                    <br><br><br>

                    <h3>Please Proceed only if you have cleared your library dues.</h3>
                    <br><br><br>

                    <button (click)="checkdues()" type="button" class="btn btn-primary btn-lg">
                             <h3 class="px-4 py-1">Proceed</h3>
                        </button>

                </div>
            </div>
        </div>

    </div>

    <div class="footer">
        <h4 style="margin-right:10%;">Powered by</h4>
        <img src="assets/brllogo.png" alt="brl-logo" class="brl-logo" style="margin-right:10%;">
    </div>
</body>