<div style="background-color:lightskyblue;text-align: center; font-size: x-large;font-weight: 550;">Faculty Options</div>
<mat-list>
  <mat-list-item><button mat-raised-button  routerLink="/facultypage/update-faculty" routerLinkActive="active" mat-dialog-close color="primary" style="margin-top: 4%;">Update Faculty</button></mat-list-item>
  <mat-list-item><button mat-raised-button routerLink="/facultypage/update-password" routerLinkActive="active" mat-dialog-close color="primary">Update Password</button></mat-list-item>
  <mat-list-item><button mat-raised-button  routerLink="/facultypage/managestudent" routerLinkActive="active" mat-dialog-close color="primary">LogOut</button></mat-list-item>
</mat-list>
  <div mat-dialog-actions>
    <button mat-button mat-dialog-close style="background-color: darkgrey;">Close</button>
  </div>