<div class="container">

    <div class="card card-01">
        <h2>Create Faculty</h2><br>
        <div>
            <h4 style="width: fit-content; float: left;">Add a new faculty</h4>

        </div>
    </div>
    <div class="card card-02">

        <form>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="inputDepartment">Department</label>
                    <select id="inputDepartment" class="form-control">
                  <option selected>Applied Science & Humanities</option>
                  <option>CSE&IT Department</option>
                  <option>Mechanical Department</option>  
                </select>
                </div>

            </div>

            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="inputStdno">Full Name</label>
                    <input type="text" class="form-control" id="inputname">
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="inputPassword">Password</label>
                    <input type="text" class="form-control" id="inputPassword">
                </div>
                <div class="form-group col-md-6">
                    <label for="inputPassword"> Confirm Password</label>
                    <input type="text" class="form-control" id="inputPassword">
                </div>



            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="inputusername">Username</label>
                    <input type="text" class="form-control">
                </div>

                <div class=" col-md-6">
                    <label style="color: transparent;">submit</label>
                    <div class="form-group grp">
                        <button type="submit" class="btn btn-blue px-5 py-1">SUBMIT</button>
                    </div>
                </div>
            </div>

        </form>
    </div>
</div>