<div class="container">

    <div class="card card-01">
        <h2>Create Faculty</h2><br>
        <div>
            <h4 style="width: fit-content; float: left;">Add a new faculty</h4>

        </div>
    </div>
    <div class="card card-02">
        <div *ngIf="alert" class="alert alert-success alert-dismissible fade show" role="alert">
            <strong>Success!</strong> Faculty Created Successfully.
            <button (click)="closeAlert()" type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
        </div>

        <form [formGroup]="createFaculty" (ngSubmit)="getfaculty()">
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="inputDepartment">Department</label>
                    <select id="inputDepartment" class="form-control" formControlName="department">
                  <option selected>Applied Science & Humanities</option>
                  <option>CSE&IT Department</option>
                  <option>Mechanical Department</option>  
                </select>
                </div>

            </div>

            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="inputname">Full Name</label>
                    <input type="text" class="form-control" id="inputname" formControlName="name">
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="inputPassword">Password</label>
                    <input type="password" class="form-control" id="inputPassword" formControlName="password">
                </div>
                <div class="form-group col-md-6">
                    <label for="inputPassword"> Confirm Password</label>
                    <input type="password" class="form-control" id="inputPassword" formControlName="passwordConfirm">
                </div>



            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="inputusername">Username</label>
                    <input type="text" class="form-control" formControlName="username">
                </div>

                <div class=" col-md-6">
                    <label style="color: transparent;">submit</label>
                    <div class="form-group grp">
                        <button type="submit" class="btn btn-blue px-5 py-1">SUBMIT</button>
                    </div>
                </div>
            </div>

        </form>
    </div>
</div>