<div class="container">
    <div class="card card-01">
        <h2>Update Password</h2><br>
        <div>
            <h4 style="width: fit-content; float: left;">Update Your Password</h4>

        </div>
    </div>
    <div class="card card-02">
    
        <form >
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="inputPassword"> Current Password</label>
                    <input type="password" class="form-control" id="inputPassword" formControlName="password">
                </div>
                <div class="form-group col-md-6">
                    <label for="inputPassword"> New Password</label>
                    <input type="password" class="form-control" id="inputPassword" formControlName="passwordConfirm">
                </div>
            </div>  
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="inputPassword"> Confirm New Password</label>
                    <input type="password" class="form-control" id="inputPassword" formControlName="passwordConfirm">
                </div>
                   <div class=" col-md-6">
                    <label style="color: transparent;">submit</label>
                    <div class="form-group grp">
                        <button type="submit" class="btn btn-blue px-5 py-1">SUBMIT</button>
                    </div>
                </div>
            </div>

        </form>
    </div>
</div>

