<div class="bar" style="overflow: hidden;">
    <div class="card" style="background-color: #065b9a;">
        <div class="card-body">
            <div style="font-weight: 600;font-size: x-large;">
                Summary
            </div>
            <div style="margin-top: 3%;font-size: large; float: left;">
                Rgistration Summary
            </div>

        </div>
    </div>
    <div class="row">
        <mat-card class="col-sm-11" style="border-radius: 20px; margin-top:1.5%; margin-left: 4.3%; ">

            <table class="table table-hover">
                <thead>
                    <tr class="specify">
                        <th scope="col">Percentage</th>
                        <th scope="col">Branch</th>
                        <th scope="col">Remaining</th>
                        <th scope="col">Registered</th>
                        <th scope="col">Total</th>
                    </tr>
                </thead>
                <tbody>

                    <tr >
                        
                    </tr>

                </tbody>
            </table>

        </mat-card>
        
    </div>
</div>

