.card {
    width: 90%;
    margin-left: 3%;
    margin-right: 6%;
    margin-top: 3%;
    color: white;
    border-radius: 20px;
}

.example-full-width {
    color: white;
}

.r-1 {
    width: 98%;
}

.specify {
    color: #065b9a;
    font-weight: 550;
    font-size: 20px;
}

@media only screen and (min-height: 700px) {
    .bar {
        overflow: hidden;
    }
}

.cd {
    padding-left: 5rem;
    padding-right: 5rem;
}

.trow {
    padding: 10px 25px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
    background-color: #f1f9ff;
    border-radius: 10px;
}

.col-md {
    text-align: center;
    margin: auto;
}

.hrow {
    padding: 10px 25px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
}

.b {
    font-weight: bold;
}

@media all and (max-width: 767px) {
    .hrow {
        display: none;
    }
    .b:before {
        padding-right: 10px;
        content: attr(data-label);
        flex-basis: 50%;
        text-align: right;
    }
}