<div class="bar" style="overflow: hidden;">
    <div class="card" style="background-color: #065b9a;">
        <div class="card-body">
            <div style="font-weight: 600;font-size: x-large;">
                Summary
            </div>
            <div style="margin-top: 3%;font-size: large; float: left;">
                Registration Summary
            </div>

        </div>
    </div>
    <div class="row r-1">
        <mat-card class="col-sm-11 cd" style="border-radius: 20px; margin-top:1.5%; margin-left: 4.3%; margin-bottom: 2rem; ">


            <div class="row hrow">
                <div class=" col-md b ">Percentage</div>
                <div class="col-md b ">Branch</div>
                <div class="col-md b ">Remaining</div>
                <div class="col-md b ">Registered</div>
                <div class="col-md b ">Total</div>
            </div>
            <div class="row trow">
                <div class=" col-md b "><span class="badge badge-primary " style="font-size: x-large; ">{{summary.data.remainingAndPercentage[0].percentage}}%</span></div>
                <div class="col-md b " data-label="Branch ">{{summary.data.branchWiseTotalStudents[0]._id}}</div>
                <div class="col-md b " data-label="Remaining ">{{summary.data.branchWiseTotalStudents[1].count}}</div>
                <div class="col-md b " data-label="Registered ">{{summary.data.branchWiseTotalStudents[0]._id}}</div>
                <div class="col-md b " data-label="Total ">{{summary.data.branchWiseTotalStudents[0]._id}}</div>
            </div>
            <div class="row trow ">
                <div class="col-md b "><span class="badge badge-primary " style="font-size: x-large; ">{{summary.data.remainingAndPercentage[1].percentage}}%</span></div>
                <div class="col-md b " data-label="Branch ">{{summary.data.branchWiseTotalStudents[1]._id}}</div>
                <div class="col-md b " data-label="Remaining ">{{summary.data}}</div>
                <div class="col-md b " data-label="Registered ">{{summary.data}}</div>
                <div class="col-md b " data-label="Total ">{{summary.data.branchWiseTotalStudents[1].count}}</div>
            </div>
            <div class="row trow ">
                <div class="col-md b "><span class="badge badge-primary " style="font-size: x-large; ">{{summary.data.remainingAndPercentage[2].percentage}}%</span></div>
                <div class="col-md b " data-label="Branch ">{{summary.data.branchWiseTotalStudents[2]._id}}</div>
                <div class="col-md b " data-label="Remaining ">{{summary.data}}</div>
                <div class="col-md b " data-label="Registered ">{{summary.data}}</div>
                <div class="col-md b " data-label="Total ">{{summary.data.branchWiseTotalStudents[2].count}}</div>
            </div>
            <div class="row trow ">
                <div class="col-md b "><span class="badge badge-primary " style="font-size: x-large; ">{{summary.data.remainingAndPercentage[3].percentage}}%</span></div>
                <div class="col-md b " data-label="Branch ">{{summary.data.branchWiseTotalStudents[3]._id}}</div>
                <div class="col-md b " data-label="Remaining ">{{summary.data}}</div>
                <div class="col-md b " data-label="Registered ">{{summary.data}}</div>
                <div class="col-md b " data-label="Total ">{{summary.data.branchWiseTotalStudents[3].count}}</div>
            </div>
            <div class="row trow ">
                <div class="col-md b "><span class="badge badge-primary " style="font-size: x-large; ">{{summary.data.remainingAndPercentage[4].percentage}}%</span></div>
                <div class="col-md b " data-label="Branch ">{{summary.data.branchWiseTotalStudents[4]._id}}</div>
                <div class="col-md b " data-label="Remaining ">{{summary.data}}</div>
                <div class="col-md b " data-label="Registered ">{{summary.data}}</div>
                <div class="col-md b " data-label="Total ">{{summary.data.branchWiseTotalStudents[4].count}}</div>
            </div>



            <!-- <table class="table ">
                <thead>
                    <tr class="specify ">
                        <th scope="col ">Percentage</th>
                        <div>
                            <th scope="col ">Branch</th>
                            <th scope="col ">Remaining</th>
                            <th scope="col ">Registered</th>
                            <th scope="col ">Total</th>
                        </div>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope=" col " style="font-size: xx-large; "><span class="badge badge-primary ">80%</span></th>
                        <div style="background-color: #f1f9ff; border-radius: 10px; ">
                            <th scope="col ">CSE</th>
                            <th scope="col ">Remaining</th>
                            <th scope="col ">registered</th>
                            <th scope="col ">{{summary.data.totalStudents}}</th>
                        </div>
                    </tr>
                    <tr>
                        <th scope="col " style="font-size: xx-large; "><span class="badge badge-success ">80%</span></th>
                        <div style="background-color: #f1f9ff; border-radius: 10px; ">
                            <th scope="col ">IT</th>
                            <th scope="col ">Remaining</th>
                            <th scope="col ">Registered</th>
                            <th scope="col ">Total</th>
                        </div>
                    </tr>
                    -    <tr>
                        <th scope="col " style="font-size: xx-large; "><span class="badge badge-warning ">80%</span></th>
                        <th scope="col ">ECE</th>
                        <th scope="col ">Remaining</th>
                        <th scope="col ">Registered</th>
                        <th scope="col ">Total</th>
                    </tr>
                    <tr>
                        <th scope="col " style="font-size: xx-large; "><span class="badge badge-danger ">80%</span></th>
                        <th scope="col ">CE</th>
                        <th scope="col ">Remaining</th>
                        <th scope="col ">Registered</th>
                        <th scope="col ">Total</th>
                    </tr>
                    <tr>
                        <th scope="col " style="font-size: xx-large; "><span class="badge badge-info ">80%</span></th>
                        <th scope="col ">ME</th>
                        <th scope="col ">Remaining</th>
                        <th scope="col ">Registered</th>
                        <th scope="col ">Total</th>
                    </tr>
                    <tr>

                        <th scope="col " style="font-size: xx-large; "><span class="badge badge-secondary ">80%</span></th>
                        <th scope="col ">EI</th>
                        <th scope="col ">Remaining</th>
                        <th scope="col ">Registered</th>
                        <th scope="col ">Total</th>
                    </tr>
                </tbody>
            </table> -->

        </mat-card>

    </div>
</div>