<div class="bar" style="overflow: hidden;">
    <div class="card" style="background-color: #065b9a;">
        <div class="card-body">
            <div style="font-weight: 600;font-size: x-large;">
                Summary
            </div>
            <div style="margin-top: 3%;font-size: large; float: left;">
                Rgistration Summary
            </div>

        </div>
    </div>
    <div class="row">
        <mat-card class="col-sm-11" style="border-radius: 20px; margin-top:1.5%; margin-left: 4.3%; ">

            <table class="table table-hover">
                <thead>
                    <tr class="specify">
                        <th scope="col">Percentage</th>
                        <th scope="col">Branch</th>
                        <th scope="col">Remaining</th>
                        <th scope="col">Registered</th>
                        <th scope="col">Total</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope=" col " style="font-size: xx-large; "><span class="badge badge-primary ">80%</span></th>
                        <th scope="col ">CSE</th>
                        <th scope="col ">Remaining</th>
                        <th scope="col ">registered</th>
                        <th scope="col ">{{summary.data.totalStudents}}</th>
                    </tr>
                    <tr>
                        <th scope="col " style="font-size: xx-large; "><span class="badge badge-success ">80%</span></th>
                        <th scope="col ">IT</th>
                        <th scope="col ">Remaining</th>
                        <th scope="col ">Registered</th>
                        <th scope="col ">Total</th>
                    </tr>
                    <tr>
                        <th scope="col " style="font-size: xx-large; "><span class="badge badge-warning ">80%</span></th>
                        <th scope="col ">ECE</th>
                        <th scope="col ">Remaining</th>
                        <th scope="col ">Registered</th>
                        <th scope="col ">Total</th>
                    </tr>
                    <tr>
                        <th scope="col " style="font-size: xx-large; "><span class="badge badge-danger ">80%</span></th>
                        <th scope="col ">CE</th>
                        <th scope="col ">Remaining</th>
                        <th scope="col ">Registered</th>
                        <th scope="col ">Total</th>
                    </tr>
                    <tr>
                        <th scope="col " style="font-size: xx-large; "><span class="badge badge-info ">80%</span></th>
                        <th scope="col ">ME</th>
                        <th scope="col ">Remaining</th>
                        <th scope="col ">Registered</th>
                        <th scope="col ">Total</th>
                    </tr>
                    <tr>

                        <th scope="col " style="font-size: xx-large; "><span class="badge badge-secondary ">80%</span></th>
                        <th scope="col ">EI</th>
                        <th scope="col ">Remaining</th>
                        <th scope="col ">Registered</th>
                        <th scope="col ">Total</th>
                    </tr>
                </tbody>
            </table>

        </mat-card>

    </div>
</div>