<div class="row">
    <img src="assets/boy.svg" height="100%" width="auto">
    <div class="card card-center cstmcard">
        <div class="card redbox ">
            <h2>Faculty Login</h2>
        </div>
        <br><br>
        <form>
            <div class="card-body">
                <input class="form-control form-control-lg  mb-2 p-3" type="text" placeholder="ID NUMBER">
                <input class="form-control form-control-lg mb-4 p-3" type="text" placeholder="FULL NAME">
            </div>
            <div class="form-row">
                <div class="form-group col-md"></div>
                <div class="form-group col-md">
                    <button type="button" class="btn btn-primary btn-lg px-5" style="border-radius: 15px;"><h3>LOGIN</h3></button>
                </div>
                <div class="form-group col-md">
                    <a href="home"><i class='fas fa-arrow-circle-left ' style='font-size:4em;color:#d9534f;float: right;'></i></a>
                </div>
            </div>
        </form>
    </div>




    <!-- <div class="card card-center cstmcard">
<div class="card redbox "><h1>Faculty Login</h1></div>
    <br><br><br><br>
   
<h1>Feature Coming Soon</h1><br><br><br>
<a href="home" style=" margin-left: auto;"><i class='fas fa-arrow-circle-left ' style='font-size:4em;color:#d9534f;'></i></a>
</div> -->
</div>
