<div class="container">
    <div class="card card-01">
        <h2>Update Faculty</h2><br>
        <div>
            <h4 style="width: fit-content; float: left;">Update Your Information</h4>

        </div>
    </div>
    <div class="card card-02">

        <form [formGroup]="updateFaculty" (ngSubmit)="updatefaculty()">
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="inputDepartment">Department</label>
                    <select id="inputDepartment" class="form-control" formControlName="department">
                  <option selected>Applied Science & Humanities</option>
                  <option>Computer Science and Engineering</option>
                  <option>Mechanical Engineering</option>  
                  <option>Civil Engineering</option>  
                  <option>Information Technology</option>  
                  <option>Electronics and Communication Engineering</option>  
                  <option>Electrical and Electronics Engineering</option>  
                </select>
                </div>

            </div>

            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="inputusername">Username</label>
                    <input type="text" class="form-control" formControlName="username">
                </div>

                <div class=" col-md-6">
                    <label style="color: transparent;">submit</label>
                    <div class="form-group grp">
                        <button type="submit" class="btn btn-blue px-5 py-1">UPDATE</button>
                    </div>
                </div>
            </div>

        </form>
    </div>
</div>