<div class="container">
    <div class="card card-01">
        <h2>Delete Student</h2><br>
        <div>
            <h4 style="width: fit-content; float: left;">Delete Student Record</h4>
        </div>
    </div>
    <div class="card card-02">

        <form [formGroup]="deleteStd" (ngSubmit)="DeleteStd()">
            <div class=" form-row ">

                <div class="form-group col-md-6 " style="margin-left: 10%; ">
                    <p style="color: green; ">{{message}}</p>
                    <label for="inputRollno ">Roll No. :</label>
                    <input formControlName="roll_no" type="number " class="form-control " id="inputRollno ">
                </div>

            </div>
            <div class="form-row ">
                <div class=" col-md-6 ">
                    <label style="color: transparent; ">submit</label>
                    <div class="form-group btn-center ">
                        <button type="submit" class="btn btn-lg px-4 mb-2 ">DELETE</button>

                    </div>
                </div>
            </div>

        </form>
    </div>
</div>