<header>
    <!-- <img src="assets/akg logo.png" height="130em" width="130em" class="akg-logo" > -->
</header>

<!-- <div class="container"> -->
<!-- <h1>New Semester Registration</h1> -->

<!-- <app-home></app-home> -->
<!-- <app-faculty></app-faculty> -->
<!-- <app-proceed></app-proceed> -->
<!-- <app-submitted></app-submitted> -->
<app-facultypage></app-facultypage>
<!-- <router-outlet></router-outlet> -->

<!-- </div>  -->

<!-- <div class="footer">
  <h4 style="margin-right:10%;">Powered by</h4>
  <!-- <img  src="assets/brllogo.png" alt="brl-logo"  class="brl-logo" style="margin-right:10%;" >    -->
<!-- </div> -->