/* .akg-logo{
    padding-left: 20px;
    padding-top: 20px;
    
}
h1{
    font-weight: bolder;
    text-align: center;
    
   }
.container{
    position: relative;
    height: 80%;
    width: 100%;   
}

.footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: right;
    border: 10px ;
   ;
    
}
h4{
    margin-bottom: 00px;
    margin-right: 20px;
    }
.brl-logo{
    height: 5em;
    margin-right: 20px;
} */
