<div class="container">
<div class="card card-01">
    <h2>Clear Library Due</h2><br>
    <div>
        <h4 style="width: fit-content; float: left;">Clear Student Library Due</h4>
    </div>
</div>
<div class="card card-02">

    <form>
        <div class="form-row">
            <div class="form-group col-md-6" style="margin-left: 10%;">
                <label for="inputRollno">Roll No. :</label>
                <input type="number" class="form-control" id="inputRollno" formControlName="roll_no">
            </div>
            
        </div>
        <div class="form-row">
            <div class=" col-md-6">
                <label style="color: transparent;">submit</label>
                <div class="form-group btn-center">
                    <button type="submit" class="btn  btn-lg px-4 mb-2 ">SUBMIT</button>
                </div>
            </div>
        </div>

    </form>
</div>
</div>

