.card-center{
    padding: 2em;
    width: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%)translateY(-35%);
    z-index: 100;
}
.cstmcard{
    border-radius: 30px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.19), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    color: white;
    text-align: center;
    padding: 2%;
    background-color: #0275d8;
}
.redbox{
    width: fit-content;
    margin-top: -11%;
    background-color:#d9534f;
    color: white;
    align-self: center;
    border-radius: 30px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.19), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
}
.btn{
    color: #0275d8;
    border-radius: 25px;
    
}
.btn:hover{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.19), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
a{
    text-decoration: none;
    width: fit-content;
    align-self: center;
}
@media (max-width: 600px){
    .card-center{
        width: 85%;
    }
    h1{
        font-size: xx-large;
    }
    h2{
        font-size: x-large;
    }
}
