<body>
    <div>
        <img src="assets/akg logo.png" height="130em" width="130em" class="akg-logo">
        <h1>New Semester Registration</h1>
    </div>
    <div class="container">

        <div class="card card-center cstmcard">
            <div class="card redbox py-3 px-5 ">
                <h1>Registration Form</h1>
            </div>
            <br><br><br>

            <h2>Thankyou!!! </h2>
            <h2>Your response have been submitted</h2><br><br><br>
            <a routerLink=""><button type="button" class="btn btn-light btn-lg" >
                        <h2 class="px-4 py-0">Logout</h2>
                </button></a>
        </div>
    </div>



    <div class="footer">
        <h4 style="margin-right:10%;">Powered by</h4>
        <img src="assets/brllogo.png" alt="brl-logo" class="brl-logo" style="margin-right:10%;">
    </div>
</body>





<router-outlet></router-outlet>