.card-center{
    padding: 2em;
    width: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%)translateY(-45%);
    z-index: 100;
}
.cstmcard{
    border-radius: 30px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.19), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    color: #d9534f;
    text-align: center;
    padding: 2%;
    margin-top: 20px;
}
.redbox{
    width: 60%;
    margin-top: -14%;
    background-color:#d9534f;
    color: white;
    padding: 20px;
    align-self: center;
    border-radius: 30px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.19), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
}
h2{
    font-weight: bold;
}
.row{
    height:70%;
}
.card-body{
    margin: auto;}
.form-control{
    text-align: center;
    border-radius: 15px;
    background-color: #ebf4f7;
}
@media (max-width: 600px){
    .card-center{
        width: 85%;
    }
    h2{
        font-size: x-large;
    }
    h3{
        font-size: x-large;
    }
}




/* style="width: 320px; margin-left: 130px; height: 70px; background-color:  rgb(230, 248, 248); text-align: center; font-weight: 700; border-radius: 15px; " */