<div class="row">
    <img src="assets/boy.svg" height="100%" width="auto" >

<div class="card card-center cstmcard">
<div class="card redbox "><h2>Student Login</h2></div>
    <br><br>
 
    <div class="card-body">
        <input class="form-control form-control-lg  mb-2 p-3" type="text" placeholder="ROLL NUMBER"   >
        <input class="form-control form-control-lg mb-4 p-3" type="text" placeholder="FULL NAME" >
    </div>
    <div class="form-row">
        <div class="form-group col-md"></div>
        <div class="form-group col-md">
        <a routerLink="/proceed">  <button type="button" class="btn btn-primary btn-lg px-5" style="border-radius: 15px;" ><h3>LOGIN</h3></button></a> 
         </div>
         <div class="form-group col-md">
      <a href="home" ><i class='fas fa-arrow-circle-left ' style='font-size:4em;color:#d9534f;float: right;'></i></a>
    </div>
    </div>
</div>

 
