.container-fluid {
    margin-top: 10%;
    height: 100%;
    width: 100%;
}

li {
    width: 32%;
}

.card {
    border-radius: 20px;
    /* flex-direction: row; */
}

.card-1 {
    width: 95%;
    background-color: #a0d7ff;
    margin: auto;
}

.card-2 {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.card-3 {
    background-color: #065b9a;
    margin-top: -32%;
    padding: 1rem;
    position: relative;
    /* width: 70%; */
    margin-left: 2rem;
    margin-right: 1.4em;
}

.icon {
    height: auto;
    width: 100%;
}

.col-7 {
    padding: 0;
}

.col-5 {
    padding-left: 0;
}

.row {
    width: 100%;
}

@media only screen and (max-width: 1250px) {
    .card-3 {
        padding: 1.5rem;
        width: 45%;
    }
    ul {
        flex-direction: column;
    }
    li {
        margin: auto;
        padding-bottom: 2rem;
        width: 90%;
    }
    .px-4 {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
    .pl-5 {
        padding-left: 0 !important;
    }
    .pr-5 {
        padding-right: 0 !important;
    }
    .card-1 {
        width: 60%;
    }
}
