<div class="container-fluid">
    <h1 style=" color:#065b9a ;" class="pl-4">Admin Dashboard</h1><br><br>
    <div class="card py-5 card-1">
        <ul class=" navbar nav">
            <li class="pl-5 ">
                <div class="card card-2 py-3">
                    <div class="row">
                        <div class="col-7">
                            <div class="card card-3"><img src="assets/Total Students.svg" class="icon"></div>
                        </div>
                        <div class="col-5 ">

                            <h5>Total <br>Students</h5><br>
                            <h2 style="color: #065b9a;">{{count.data.student}}</h2>

                        </div>
                    </div>
                </div>
            </li>
            <li class="px-4">
                <div class="card card-2 py-3">
                    <div class="row">
                        <div class="col-7">
                            <div class="card card-3"><img src="assets/Registered Students.svg" class="icon"></div>
                        </div>
                        <div class="col-5">

                            <h5>Registered<br>Student</h5><br>
                            <h2 style="color: #065b9a;">{{count.data.registered}}</h2>

                        </div>
                    </div>
                </div>
            </li>
            <li class="pr-5">
                <div class="card card-2 py-3">
                    <div class="row">
                        <div class="col-7">
                            <div class="card card-3"><img src="assets/Total admins.svg" class="icon"></div>
                        </div>
                        <div class="col-5 ">

                            <h5>Remaining<br>Students</h5><br>
                            <h2 style="color: #065b9a;">{{count.data.left}}</h2>

                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>
