<div class="container-01">
    <div class="card">
        <h1>Are You Sure ?</h1><br><br><br>
        <div class="row">
            <div class="col ">
                <button class="btn btn-outline  mb-2  py-2 px-5" type="submit">Go Back</button>
            </div>

            <div class="col ">
                <a href="#">
                    <button class="btn blue mb-2  py-2 px-5" type="submit">Logout</button>
                </a>
            </div>

        </div>
    </div>
</div>
<router-outlet></router-outlet>