@import "~@angular/material/prebuilt-themes/indigo-pink.css";
/* html{
    height: 100%;
    width: 100%;
    background-size: cover;
    margin: 0;
} */
body{
    margin: 0;
    width: 100%;
    /* height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover; */
    
   
}
.row{
    overflow-y: hidden;
  overflow-x: auto;
  overflow-x: hidden !important;
}