/* You can add global styles to this file, and also import other style files */
html{
    height: 100%;
    width: 100%;
    background-size: cover;
}
body{
    background-image: url('assets/bg-01.svg');
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #5f9dd8;
}