<div class="row">
  <img src="assets/boy.svg" height="100%" width="auto" >


<div class="card card-center">
    <h2>Login As</h2>
    <br><br>
    <div class="row">
      <div class="col-md-6">
        <a routerLink="/student" > <button class="btn btn-lg bg-danger shadow-hover mb-2 py-3 px-5" style="float: right;"><h2>Student</h2></button></a>
      </div>
      <div class="col-md-6">
        <a routerLink="/faculty" >    <button class="btn btn-group-lg bg-danger shadow-hover mb-2 py-3 px-5"><h2>Faculty</h2></button></a>
        </div> 
    </div>
</div>

</div>
