<body>
    <div>
        <img src="assets/akg logo.png" height="130em" width="130em" class="akg-logo">
        <h1>New Semester Registration</h1>
    </div>
    <div class="container">
        <div class="row row1 mx-5">
            <div class="col-6 col1">
                <img src="assets/boy.svg" style="width: auto; height: 100%;">
            </div>
            <div class="col-6">

            </div>
        </div>
    </div>
    <div class="card card-center">
        <h2>Login As</h2>
        <br><br>
        <div class="row">
            <div class="col-md-6">
                <a routerLink="/student"> <button class="btn btn-lg bg-danger shadow-hover mb-2 py-3 px-5" style="float: right;"><h2>Student</h2></button></a>
            </div>
            <div class="col-md-6">
                <a routerLink="/faculty"> <button class="btn btn-group-lg bg-danger shadow-hover mb-2 py-3 px-5"><h2>Faculty</h2></button></a>
            </div>
        </div>
    </div>

    <div class="footer">
        <h4 style="margin-right:10%;">Powered by</h4>
        <img src="assets/brllogo.png" alt="brl-logo" class="brl-logo" style="margin-right:10%;">
    </div>
</body>
