<body>
    <div>
        <img src="assets/akg logo.png" height="130em" width="130em" class="akg-logo">
        <h1>New Semester Registration</h1>
    </div>
    <div class="container">

        <div class="row">
            <div class="column side">
                <img src="assets/boy.svg" style="width: auto; height: 65vh;">
            </div>

            <div class="column middle"><br><br><br>
                <div class="card card1">
                    <h2>Login As</h2>
                    <br><br>
                    <div class="row mx-4">
                        <div class="col-md-6">
                            <a routerLink="/student">
                                <button class="btn btn-lg bg-danger shadow-hover mb-2 py-3 ">
                                     <h2>Student</h2>
                                    </button>
                            </a>
                        </div>
                        <div class="col-md-6">
                            <a routerLink="/faculty">
                                <button class="btn btn-group-lg bg-danger shadow-hover py-3 mb-2">
                                     <h2>Faculty</h2>
                                    </button>
                            </a>
                        </div>
                    </div>
                </div>
            </div>



        </div>
    </div>

    <div class="footer">
        <h4 style="margin-right:10%;">Powered by</h4>
        <img src="assets/brllogo.png" alt="brl-logo" class="brl-logo" style="margin-right:10%;">
    </div>
</body>