.card{
    width: 90%;
    margin-left: 3%;
    margin-right: 6%;
    margin-top: 3%;
    color: white;
    border-radius: 20px;
}
.example-full-width{
    color: white;
   
}
.form{
    margin-left: 77%;
    
  }
.subcard{
    width: 20%;
    margin-top: 1.5%;
    margin-left: 1.8%;
    border-radius: 20px;
    background-color: lightskyblue;
    overflow-x: hidden;
    overflow-x: hidden;
overflow-y: hidden !important;
min-height: inherit;
max-height: inherit;
overflow-x: hidden;
  overflow-y: auto;

}
.row::-webkit-scrollbar::-webkit-scrollbar {
    display: none;
} 
.row{
    overflow-x: hidden;
overflow-y: hidden !important;
min-height: inherit;
max-height: inherit;
overflow-x: hidden;
  overflow-y: auto;
}
@media only screen and (min-height: 700px) {
    .bar {
        overflow: hidden;
    }

  }

