<div class="bar" style="overflow: hidden;">
    <div class="card" style="background-color: #065b9a;">
        <div class="card-body">
            <div>
           
               <h2  style="font-weight: 600;font-size: x-large; float:left;"> Manage Students</h2>
          
            <img Avatar src="assets/profile pic.png" (click)="openDialog()" style="height: 4rem; border-radius: 50%;margin-left: 85%;margin-top: -5%;"  >
        </div>
            <div style="margin-top: 3%;font-size: large; float: left;">
                List of all the students
            </div>
            <span class="flex-spacer"></span>
            <form class="form">
                <mat-form-field class="example-full-width">
                    <mat-label style="color: white; font-size: large;">Student No. <i class="fa fa-search" aria-hidden="true" style="color: white; padding-left: 5%;font-size: 1.2rem;"></i></mat-label>
                    <input matInput placeholder="Search Student No." style="color: white;">

                </mat-form-field>
            </form>

        </div>
    </div>
    <div class="row">
        <mat-card class="col-sm-8" style="border-radius: 20px; margin-top:1.5%; margin-left: 5%; height: 480px; overflow: scroll;">

            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">S.No.</th>
                        <th scope="col">Name</th>
                        <th scope="col">Roll No.</th>
                        <th scope="col">Branch</th>
                        <th scope="col">Year</th>
                    </tr>
                </thead>
                <tbody>

                    <tr *ngFor="let data of students.data| paginate: { id: 'pagination',
                    itemsPerPage: 35,
                    currentPage: page,
                    totalItems: totalRecords};let i=index">
                        <th scope="row">{{i+1}}</th>
                        <td>{{data.full_name}}</td>
                        <td>{{data.roll_no}}</td>
                        <td>{{data.branch}}</td>
                        <td>{{data.year}}</td>
                    </tr>
                </tbody>
            </table>
            <pagination-controls id="pagination" (pageChange)="page=$event" (pageBoundsCorrection)="page=$event" maxSize="5">
            </pagination-controls>

        </mat-card>
        <mat-card class="subcard">
            <h3 style="color: black;text-align: center;font-weight: 550;">Filter</h3>
            <div class="card w-90">
                <div class="card-body">

                    <form >
                        <div class="form-group row">

                            <div>
                                <p style="color: black;  font-weight: 550;float: left;">YEAR </p>
                                <select id="inputCourse" class="form-control" style="width: 60%;background-color: #065b9a;border-radius: 20px; color: white; margin-left: 61%;">
              <option selected >1st</option>
              <option>2nd</option>  
              <option>3rd</option> 
              <option>4th</option> 
            </select>

                            </div>

                            <div style="margin-top: 7.5%;">
                                <p style="color: black;  font-weight: 550;float: left;">BRANCH </p>
                                <select id="inputCourse" class="form-control" style="width: 50%;background-color: #065b9a;border-radius: 20px; color: white; margin-left: 50%;">
                  <option selected>IT</option>
                  <option>CSE</option>
                  <option>ECE</option>
                  <option>EN</option>
                  <option>CE</option>
                  <option>ME</option>
                  <option>EI</option>
                </select>

                            </div>
                        </div>
                    <button type="button" class="btn btn-primary btn-lg" style="background-color: #065b9a;border-radius: 18px;font-size:0.9rem;width: 80%; margin-left: 10%;margin-right: 10%;">APPLY</button>
                </form>
                </div>
            </div>

            <h3 style="color: black;text-align: center;font-weight: 550;margin-top: 10%;">Options</h3>
            <div class="card w-90">
                <div class="card-body">

                    <a routerLink="/facultypage/create-lib-due" routerLinkActive="active" > <button type="button" class="btn btn-primary btn-lg"  style="background-color: #065b9a;border-radius: 18px;font-size: 11px;width: 98%; margin-left:1%;margin-right:1%">Create Lib. Due</button></a>
                    <a routerLink="/facultypage/clear-lib-due" routerLinkActive="active" > <button type="button" class="btn btn-primary btn-lg" style="background-color: #065b9a;border-radius: 18px; font-size:  11px;width: 98%; margin-left:1%;margin-right:1%;margin-top: 0.6em;">Clear Lib. Due</button></a>
                    <a routerLink="/facultypage/update-student" routerLinkActive="active" > <button type="button" class="btn btn-primary btn-lg" style="background-color: #065b9a;border-radius: 18px; font-size: 11px; width: 99%; margin-left:0.5%;margin-right:0.5%;margin-top: 0.6em;">Update Student</button></a>
                    <a routerLink="/facultypage/delete-student" routerLinkActive="active" > <button type="button" class="btn btn-primary btn-lg" style="background-color: #065b9a;border-radius: 18px;font-size:  11px;width: 98%; margin-left:1%;margin-right:1% ;margin-top: 0.6em;">Delete Student</button></a>
                   
                </div>
            </div>
        </mat-card>

    </div>
</div>