.container {
    justify-content: center;
    align-items: center;
    align-content: center;
    min-height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.card-01 {
    margin-top: 5%;
    padding: 1.5rem;
    color: white;
    background-color: #065b9a;
    border-radius: 20px;
    width: 80%;
}

h4 {
    font-weight: lighter;
}

.card-02 {
    margin-top: 2rem;
    padding: 2rem;
    border-radius: 20px;
    color: #065b9a;
    border-color: #065b9a;
    border-style: solid;
    border-width: 1px;
    width: 80%;
    font-weight: 500;
    font-size: 1.3rem;
    margin-bottom: 5%;
    box-shadow: 0 6px 8px 0 rgba(0, 0, 0, 0.2), 0 16px 30px 0 rgba(0, 0, 0, 0.26);
}

input,
select {
    border-color: #065b9a;
    border-style: solid;
    border-width: 2px;
    border-radius: 5px;
}

.col-md-7,
.col-md-5,
.col-md-2,
.col-md-4,
.col-md-6,
.col-md-3 {
    padding: 0.1rem 1rem 0.1rem 1rem;
}

.grp {
    margin: auto;
    width: fit-content;
}

.btn-blue {
    background-color: #065b9a;
    color: white;
    font-size: 1.3rem;
    font-weight: 500;
    border-radius: 8px;
    width: 100%;
}

.btn-blue:hover {
    background-color: #176fb3;
}