<div class="container">

    <div class="card card-01">
        <h2>Create Student</h2><br>
        <h4>Add a new student</h4>
    </div>
    <div class="card card-02">
        <form>
            <div class="form-row">
                <div class="form-group col-md-7">
                    <label for="inputName">Full Name</label>
                    <input type="text" class="form-control" id="inputName">
                </div>
                <div class="form-group col-md-5">
                    <label for="inputRollno">Roll No.</label>
                    <input type="number" class="form-control" id="inputRollno">
                </div>
            </div>

            <div class="form-row">
                <div class="form-group col-md-5">
                    <label for="inputStdno">Student No.</label>
                    <input type="number" class="form-control" id="inputStdno">
                </div>
                <div class="form-group col-md-4">
                    <label for="inputCourse">Course</label>
                    <select id="inputCourse" class="form-control">
                  <option selected>B.Tech</option>
                  <option>MCA</option>
                  <option>MBA</option>  
                </select>
                </div>
                <div class="form-group col-md-3">
                    <label for="inputBranch">Branch</label>
                    <select id="inputBranch" class="form-control">
                  <option selected>CSE</option>
                  <option>IT</option>
                  <option>ECE</option>
                  <option>CE</option>
                  <option>ME</option>
                  <option>EI</option>
                </select>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="inputPhone">Phone No.</label>
                    <input type="number" class="form-control" id="inputPhone">
                </div>
                <div class="form-group col-md-6">
                    <label for="inputEmail">Email</label>
                    <input type="email" class="form-control" id="inputEmail">
                </div>

            </div>
            <div class="form-row">
                <div class="form-group col-md-7">
                    <label for="inputfather">Father's Name</label>
                    <input type="text" class="form-control" id="inputfather">
                </div>
                <div class=" col-md-5">
                    <label style="color: transparent;">submit</label>
                    <div class="form-group grp">
                        <button type="submit" class="btn btn-blue px-5 py-1">SUBMIT</button>
                    </div>
                </div>
            </div>

        </form>
    </div>
</div>